<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row d-flex align-item-center justify-content-center">
  <div class="col-md-6 mt-1">
    <div>
        <h1>T2T on T.R.A.T.E.N</h1>
        <p>by <i class="li">@librenauta</i></p>
    </div>
    <div>
        <h3>Escribí un mensaje y convertilo en un: /¯-¯/__-//¯¯-/_/</h3>
        <p>Compartí el {ID} a quien quieras que lo lea para descubrirlo en <i class="liquen">t2t.copiona.com</i></p>
    </div>
    <div class="form flex-column">
      <div class="field d-flex flex-column">
        <%= form.label :Autora %>
        <%= form.text_field :author %>
      </div>

      <div class="field mt-2 d-flex flex-column">
        <%= form.label :Receptora %>
        <%= form.text_field :receiver %>
      </div>
      <div class="field mt-2 d-flex flex-column">
        <%= form.label :Texto %>
        <%= form.text_area :body %>
      </div>

      <div class="actions row no-gutters flex-column mt-5 d-flex align-item-center justify-content-center">
        <%= form.submit %>
        <div class="mt-4 broder border-1 p-2 d-flex align-item-center justify-content-center">
          <%= link_to '-> Buscar mensaje con #hash', messages_path %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
