<div class="row m-3 d-flex flex-column align-items-center justify-content-center">
  <%= search_form_for @q do |f| %>
    <%= f.label :uuid_cont %>
    <%= f.search_field :uuid_cont %>

    <%= f.submit %>
  <% end %>
</div>
