<div class="row d-flex align-item-center justify-content-center mt-5">
  <div class="col-md-6 mt-5">
    <div>
        <h1>T2T on T.R.A.T.E.N</h1>
        <p>by <i class="li">@librenauta</i></p>
    </div>
    <h2>Mensaje traducido</h2>
    <div class="f-3">
        <%= @message.body %>
    </div>


<div class="field mt-2 d-flex flex-column">
  <strong>{ID}: </strong>
  <%= @message.uuid %>
</div>

<div class="field mt-2 d-flex flex-column">
  <strong>De: </strong>
  <%= @message.author %>
</div>

<div class="field mt-2 d-flex flex-column">
  <strong>Para: </strong>
  <%= @message.receiver %>
</div>
<div class="mt-3 li-btn d-flex align-item-center justify-content-center ">
  <%= link_to 'Back', new_message_path %>
</div>

  </div>
</div>
