<div class="row flex-column align-items-center justify-content-center">
  <h1>txt2txt en TRATEN</h1>

  <p>Acá ingresando un UUID ej: '893223' de 6 digitos podrás descubrir un mensaje</p>
</div>
<div class="row align-items-center justify-content-center">
  <%= render 'search_form' %>
  <div class="">
    <%= link_to 'New Message', new_message_path %>
  </div>
</div>
<% @messages.each do |message| %>
<div class="row border-1 d-flex flex-column align-items-center justify-content-center">
  <div class="col-md-6">
    <p class="salmon">Mensaje</p>
    <%= message.translated_body %>
  </div>
  <div class="">
    <p class="salmon">{ID} #<%= message.uuid %></p>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="salmon">~De: </p>
    <%= message.author %>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="salmon">~Para: </p>
    <%= message.receiver %>
  </div>
  <div class="">
    <%= link_to 'Back', new_message_path %>
    <%= link_to 'Decrypt', decrypt_message_path(message) %>
  </div>
<hr aria-hidden="true" class="border-top border-black border-1 mb-2 w-50"/>
</div>
<% end %>
