<div class="row flex-column align-items-center justify-content-center mb-3">
  <div class="d-flex flex-column">
      <h1>T2T on T.R.A.T.E.N</h1>
      <p>by <i class="li">@librenauta</i></p>
  </div>
  <div class="row flex-column align-items-center justify-content-center">
    <div class="col-md-6">
      <strong class="ml-3 salmon">Mensaje:</strong>
        <div class="m-3">
        <%= @message.translated_body %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <strong class="salmon">{ID}:</strong>
        #<%= @message.uuid %>
      </p>

      <p>
        <strong class="salmon">Autora:</strong>
        <%= @message.author %>
      </p>

      <p>
        <strong class="salmon">Receptora:</strong>
        <%= @message.receiver %>
      </p>
      <p>traducilo en <i>t2t.copiona.com</i></p>
      <%= link_to 'Atrás', new_message_path %>
      <a href="#" onclick="window.print();">Imprimir</a>
    </div>
  </div>
</div>
